<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5.1"/>
    
    <!-- Membership Settings -->
    <!-- Set userIsOnlineTimeWindow="20" if want user cookies to exist even after browser closes-->
    <membership defaultProvider="MaryPizzaProvider"
                >
      <providers>
        <remove name="AspNetSqlProvider"/>
        <add name="MaryPizzaProvider"
             type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="MaryPizzaDatabase"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             passwordFormat="Hashed"
             applicationName="/"
             />
      </providers>
    </membership>
    
    <!-- Roles Settings, defaultProvider points to the role provider-->
    <roleManager enabled="true"
                 defaultProvider="MaryPizzaProvider">
      <!-- Remove default providers defined by machine.config -->
      <!-- And add the MaryPizzaProvider of type SqlRoleProvider, pointing to db-->
      <providers>
        <remove name="AspNetSqlRoleProvider" />
        <remove name="AspNetWindowsTokenRoleProvider" />
        <add name="MaryPizzaProvider"
             type="System.Web.Security.SqlRoleProvider"
             connectionStringName="MaryPizzaDatabase"
             applicationName="/"
             />
      </providers>
    </roleManager>
    
    <!-- Authentication-->
    <authentication mode="Forms">
      <forms loginUrl="Accounts/Login.aspx"
             protection="All"
             timeout="30"
             defaultUrl="HomePage.aspx"/>
    </authentication>
  </system.web>
  
  <!-- To specify authorization settings for the page ToppingsPage.aspx -->
  <location path="ToppingsPage.aspx">
    <system.web>
      <authorization>
        <allow roles="admin" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- To specify authorization settings for the page ReportsPage.aspx -->
  <location path="ReportsPage.aspx">
    <system.web>
      <authorization>
        <allow roles="admin, sales" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="MaryPizzaEntities" connectionString="metadata=res://*/MaryPizzaModel.csdl|res://*/MaryPizzaModel.ssdl|res://*/MaryPizzaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=max.bcit.ca;initial catalog=MaryPizza;persist security info=True;user id=MaryPizza;password=MaryPizza;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="MaryPizzaDatabase" connectionString="Data Source=max.bcit.ca;Initial Catalog=MaryPizza;Persist Security Info=True;User ID=MaryPizza;Password=MaryPizza;MultipleActiveResultSets=True;Application Name=EntityFramework"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>